[submodule "jarvis"]
    path = config/jarvis
  	url = https://github.com/rccyx/jarvis.git

[submodule "thyx"]
    path = packages/thyx
  	url = https://github.com/rccyx/thyx.git

[submodule "lookas"]
    path = packages/lookas
  	url = https://github.com/rccyx/lookas.git

[submodule "ctrlyx"]
    path = packages/ctrlyx
  	url = https://github.com/rccyx/ctrlyx.git

[submodule "asryx"]
    path = packages/asryx
  	url = https://github.com/rccyx/asryx.git

